
<!-- <p>Oi, meu nome é {{nome}} e tenho {{idade}} anos.</p> 

<p> Lançando um dado: {{lancarDado()}}</p>-->

<div class="container mt-2">

<form>

  <div class="form-group">

    <label for="nomeInput">Nome</label>

    <input type="text" id="nomeInput" class="form-controol" placeholder="Digite um nome" #nomeInput>
  </div>

</form>

</div>

<div class="container mt-2">
  <button type="button" (click)="adicionar(nomeInput)" class="btn-primary">Adicionar</button>

  <div class="alert alert-primary mt-3 p-3" [hidden]="!exibeCaixa">
    {{nome}}
  </div>

</div>
